.app__card {
  width: 1040px;
  height: 850px;
  position: relative;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 50px;

  .app__header {
    width: 100%;
    margin-bottom: 70px;

    img {
      max-width: 250px;
    }
  }

  .app__content {
    display: flex;
    justify-content: space-between;

    .app__diy {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 34px;
      height: 500px;
      width: 300px;
      background: url(../../Assets/diy-background.png);

      .app__diy__button {
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;

        padding: 20px;
        background: #e73737;
        border: none;

        cursor: pointer;
        transition: background ease 300ms;

        &:hover,
        &:focus {
          background: #b70606;
          outline: none;
        }
      }
    }
  }

  &::after {
    content: 'SandWishes 2019';
    font-weight: 300;
    font-size: 12px;
    bottom: 30px;
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    text-align: center;
  }
}
